body {
  /* margin: 0; */
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    260deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(51, 5, 83, 1) 100%
  );
}
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2;
  overflow-y: auto;
  padding: 16px;
}
aside {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    245deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(82, 38, 112, 1) 100%
  );
}
.hbtn,
.str {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0; /* Espacio entre las imágenes */
}
